<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <title>GovtExamBD</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css'%}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">

  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css'%}">

  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css'%}">

  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css'%}">

  <link rel="stylesheet" href="{% static 'css/aos.css'%}">
  <link href="{% static 'css/jquery.mb.YTPlayer.min.css'%}" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{% static 'css/style.css'%}">



</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  <div class="site-wrap">
          <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
              <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
              </div>
            </div>
            <div class="site-mobile-menu-body"></div>
          </div>

            <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

                <div class="container">
                  <div class="d-flex align-items-center">
                    <div class="site-logo">
                      <!-- <a href="index.html" class="d-block">
                        <img src="images/logo.jpg" alt="Image" class="img-fluid">
                      </a> -->
                    </div>
                    <div class="mr-auto">
                          <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                              <li class="active">
                                <a href="{% url 'base' %}" class="nav-link text-left">GovtOnlineExam</a>
                              </li>

                              <li class="active">
                                <a href="{% url 'base' %}" class="nav-link text-left">Home</a>
                              </li>
                              <li>
                                  <a href="#" class="nav-link text-left">Courses</a>
                              </li>
                              <li>
                                  <a href="#" class="nav-link text-left">Quiz</a>
                              </li>
                                <li>
                                  <a href="#" class="nav-link text-left">Our Teacher</a>
                                </li>
                               <li>
                                   {% if user.is_authenticated %}

                                      <li>
                                          <a href="{% url 'home' %}" class="nav-link text-left">{{ user.username }}</a>

                                      </li>
                                    <li>
                                         <a href="{% url 'logout'%}" class="nav-link text-left">Logout</a>
                                    </li>



                                       {% else %}
                                            <li>
                                                <a href="{% url 'login'%}" class="nav-link text-left">Login</a>
                                            </li>
                                   {% endif %}

                               </li>
                            </ul>                                                                                                                                                                                                                                                                                          </ul>
                          </nav>
                    </div>
                    <div class="ml-auto">
                      <div class="social-wrap">
                        <a href="#"><span class="icon-facebook"></span></a>
                        <a href="#"><span class="icon-twitter"></span></a>
                        <a href="#"><span class="icon-linkedin"></span></a>

                        <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                          class="icon-menu h3"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
            </header>



          <div>
              {% block content%}

              {% endblock content %}
          </div>
      <!--      footer-->
            <div>
                {% include 'footer.html' %}
            </div>
      <!--      footer-->

</div>

  <!-- .site-wrap -->


  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#51be78"/></svg>
  </div>

  <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js'%}"></script>
  <script src="{% static 'js/jquery-ui.js'%}"></script>
  <script src="{% static 'js/popper.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/owl.carousel.min.js'%}"></script>
  <script src="{% static 'js/jquery.stellar.min.js'%}"></script>
  <script src="{% static 'js/jquery.countdown.min.js'%}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js'%}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js'%}"></script>
  <script src="{% static 'js/aos.js'%}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js'%}"></script>
  <script src="{% static 'js/jquery.sticky.js'%}"></script>
  <script src="{% static 'js/jquery.mb.YTPlayer.min.js'%}"></script>




  <script src="{% static 'js/main.js'%}"></script>

</body>

</html>
